.header {
}
.container {
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.logo {
}
.logo-text {
}
.header__nav {
}
.nav {
}
.nav__list {
}
.nav-list__item {
}
.functional-block {

}
.search {

}
.icon {
}
.icon--search, .icon--basket{
    fill: white;
    height: 18px;
    width: 20px;
}
.basket {
}

.mobile-nav-btn {
}
.nav-icon {
    height: 18px;
    width: 20px;
}