.quality-products {}

.best-products {
    padding: 130px 0 113px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 86px;
}

.product__item {
    display: grid;
    gap: 24px;
    text-align: center;
    padding: 8px 25px 18px;
}

.product-pict {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 63px;
    height: 54px;
    background-image: url('../../img/quality-products/mask.png');


    img {
        width: 37px;
        height: 37px;

    }
}



.product__title {
    font-size: 25px;
}

.product__text {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.6;
}


.btn-light {}